@model MyJournal.WebApi.Models.Mark.TimeSpanModel

@{
    ViewData["Title"] = "Оціннки за проміжок часу";
}

<h1>Оцінки за проміжок часу</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="MarksForTimeSpan">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">З якого числа</label>
                <input asp-for="DateFrom" class="form-control" />
                <span asp-validation-for="DateFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">По яку число</label>
                <input asp-for="DateTo" class="form-control" />
                <span asp-validation-for="DateTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Показати" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

