
@{
    ViewData["Title"] = "Предмети";
}

<h1>Керування предметами</h1>

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <a  asp-controller="Subject" asp-action="Create" class="btn btn-dark btn-lg">Додати предмет</a>
            </div>
            <div class="col-lg-4">
                <a  asp-controller="Subject" asp-action="Assign" class="btn btn-dark btn-lg">Додати викладача на предмет</a>
            </div>
        </div>
    </div>
</div>