@{
    ViewData["Title"] = "Контакти";
}
<h2>@ViewData["Title"]</h2>

<p>Розробник та адміністратор системи - Білецька Олена Леонідівна.</p>
<p>Електронна пошта для зворотнього зв`язку:</p>
<ul>
    <li>
        <a href="mailto: Praktikaschool7@gmail.com">Praktikaschool7@gmail.com</a>
    </li>
    <li>
        <a href="mailto: praktika11@ukr.net">praktika11@ukr.net</a>
    </li>
</ul>
