@{
    ViewData["Title"] = "Домашняя страница";
}

    <p>Для доступу до даних електронного журналу <b>MyJournal</b> авторизуйтесь у системі.</p>

@if (User.Identity.IsAuthenticated)
{
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                @if (User.Claims.FirstOrDefault(x => x.Type == Constants.RoleClaimName)?.Value == Constants.TeacherRoleName)
                {
                    <div class="col-lg-4">
                        <a asp-controller="Subject" asp-action="Index" class="btn btn-dark btn-lg">Керування предметами</a>
                    </div>
                    <div class="col-lg-4">
                        <a asp-controller="Lesson" asp-action="Index" class="btn btn-dark btn-lg">Керування уроками</a>
                    </div>
                }
                else
                {
                    <div class="col-lg-4">
                        <a asp-controller="Mark" asp-action="Index" class="btn btn-dark btn-lg">Перегляд оцінок</a>
                    </div>
                }
            </div>
        </div>
    </div>
}