@using MyJournal.WebApi.Controllers
@model GroupModel

@inject GroupController GroupController

    <select asp-for="GroupId" class="custom-select">
        <option value="-1" label="Без класу"></option>
        @foreach (var group in GroupController.GetAll())
    {
        <option value="@group.GroupId" label="@group.Name"></option>
    }
    </select>