
@{
    ViewData["Title"] = "Аккаунт";
}

<h1>Керування аккаунтом</h1>

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <a asp-action="ChangePassword" class="btn btn-dark btn-lg">Змінити пароль</a>
            </div>
        </div>
    </div>
</div>