
@{
    ViewData["Title"] = "Клас";
}

<h1>Керування класами</h1>

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <a asp-controller="Group" asp-action="Create" class="btn btn-dark btn-lg">Додати клас</a>
            </div>
            <div class="col-lg-4">
                <a asp-controller="Group" asp-action="AssignTeacher" class="btn btn-dark btn-lg">Задати класного керівника</a>
            </div>
        </div>
    </div>
</div>