@model MyJournal.WebApi.Models.Lesson.CreateLessonModel

@{
    ViewData["Title"] = "Створити урок";
}

    <h1>Створити урок</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Викладач</label>
                @Html.PartialAsync("TeacherSelectionPartial").Result
            </div>
            <div class="form-group">
                <label class="control-label">Предмет</label>
                @Html.PartialAsync("SubjectSelectionPartial").Result
            </div>
            <div class="form-group">
                <label class="control-label">Клас</label>
                @Html.PartialAsync("GroupSelectionPartial").Result
            </div>
            <div class="form-group">
                <label class="control-label">Дата та час проведення</label>
                <input asp-for="DateTime" class="form-control" />
                <span asp-validation-for="DateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Для тематичної оцінки</label>
                <input asp-for="IsForThematicMarks" class="form-control" />
                <span asp-validation-for="IsForThematicMarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Для семестрової оцінки</label>
                <input asp-for="IsForSemesterMarks" class="form-control" />
                <span asp-validation-for="IsForSemesterMarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Створити" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

