@using MyJournal.WebApi.Extensibility.Formatters
@model MyJournal.WebApi.Models.Lesson.LessonModel
@inject IDateTimeFormatter DateTimeFormatter
<h1>Урок @DateTimeFormatter.FormatWithoutTime(Model.DateTime)</h1><p/>
<h2>@Model.SubjectName - @Model.GroupName</h2>
<div>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-4">
                П.І.Б.
            </div>
            <div class="col-1">
                Оцінка
            </div>
            <div class="col-1">
                Відсутній
            </div>
        </div>
    </div>
    <div class=" container">        
        <form asp-controller="Mark" asp-action="InsertBatch">
            <partial name="ReadonlyMarkPartial" model="Model.MarksData.ToList()"/>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Назад</a>
</div>
