@using MyJournal.Services.Extensibility.Formatters
@model MyJournal.WebApi.Models.Lesson.LessonModel
@inject IDateTimeFormatter DateTimeFormatter
@{
    var lessonTitle = "";
    if (Model.IsForThematicMarks)
    {
        lessonTitle = "Тематичне оцінювання";
    }
    else
    {
        if (Model.IsForSemesterMarks)
        {
            lessonTitle = "Семестрове оцінювання";
        }
        else
        {
            lessonTitle = "Урок";
        }
    }
}
<h1>@lessonTitle @DateTimeFormatter.FormatWithoutTime(Model.DateTime)</h1><p />
<h2>@Model.SubjectName - @Model.GroupName</h2>
<div>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-4">
                П.І.Б.
            </div>
            <div class="col-1">
                Оцінка
            </div>
            <div class="col-1">
                Відсутній
            </div>
        </div>
    </div>
    <div class=" container">
        <form asp-controller="Mark" asp-action="InsertBatch">
            @Html.Partial("EditableMarkPartial", Model.MarksData.ToList())
            <div class="form-group">
                <input type="submit" value="Зберегти" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Назад</a>
</div>
