
@{
    ViewData["Title"] = "Заняття";
}

<h1>Керування заняттями</h1>

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <a asp-controller="Lesson" asp-action="Create" class="btn btn-dark btn-lg">Додати заняття</a>
            </div>
            @if (User.Claims.FirstOrDefault(x => x.Type == Constants.RoleClaimName)?.Value == Constants.TeacherRoleName)
            {
                <div class="col-lg-4">
                    <a asp-controller="Lesson" asp-action="GroupLessons" class="btn btn-dark btn-lg">Заняття класу</a>
                </div>
            }
        </div>
    </div>
</div>